<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div>
                <table border="1" class="margin-center">
                    <tbody>
                        <tr>
                            <td>Username</td>
                            <td>Age</td>
                        </tr>
                        <% for (let product of prods) { %>
                            <tr>
                                <td><%= product.name %></td>
                                <td><%= product.age %></td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
            <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
        <% } else { %>
            <h1>No Users Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>