<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="margin-center centered">
                        <table border="1" class="margin-center">
                            <tbody>
                                <tr>
                                    <td>Username</td>
                                    <td>Age</td>
                                </tr>
                                <% for (let product of prods) { %>
                                    <tr>
                                        <td><%= product.name %></td>
                                        <td><%= product.age %></td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                        <a style="display: inline-block"  href="/users/list">Download Active Users</a>
                    </div>
                    <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                    <% } else { %>
                        <h1>No Users Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>